# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Test / tooling caches
.pytest_cache/
.mypy_cache/

# OS
.DS_Store

# VS Code
.vscode/
